/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";



html, body {
  height: 100%;
}

@import '~igniteui-angular/lib/core/styles/themes/index';

@include igx-core();
$custom-palette: igx-palette(
	$primary: #09f,
	$secondary: #72da67,
	$surface: #222222,
	$grays: #FFFFFF);
@include igx-theme($palette: $custom-palette, $schema: $dark-schema);
$igx-background-color: igx-color($custom-palette, 'surface');
$igx-foreground-color: igx-contrast-color($custom-palette, 'surface');
:root {
	@include igx-palette-vars($custom-palette);

	body {
		background: $igx-background-color;
		color: $igx-foreground-color;
	}
}

.igx-typography {
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}